*-symtbl.c
*.a
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.orig
*.plist/ # ccc-analyzer store its results in .plist directories
*.rej
*.so
*.trs
*_test
*.ipch # vscode/intellisense precompiled header
*~
# Windows related auxiliary files
*.tmp
*.sln
*.vcxproj
*.vcxproj.filters
*.obj
*.exe
*.dll
*.bsc
*.idb
*.pdb
*.ilk
/Build/
/win32utils/.vs
/win32utils/*.c
/win32utils/InstallFiles
/win32utils/InstallFlags
/bin/**/win32/Debug
/bin/**/win32/Release
/bin/win32/BINDInstall/Debug/
/bin/win32/BINDInstall/Release/
/lib/win32/bindevt/Debug/
/lib/dns/win32/libdns.def
/lib/isc/win32/libisc.def
/lib/win32/bindevt/*.bin
/lib/win32/bindevt/Debug/
/lib/win32/bindevt/Release/
/lib/win32/bindevt/bindevt.h
/lib/win32/bindevt/bindevt.rc
/lib/**/win32/Debug
/lib/**/win32/Release
/cross.c
/mscver.c
/test*.c
__pycache__/
.ccache/
.cproject
.deps/
.dirstamp
.libs/
.project
.settings
/aclocal.m4
/ar-lib
/autom4te.cache/
/bind.keys.h
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/isc-config.sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltargz.m4
/m4/ltdl.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/py-compile
/stamp-h1
/test-driver
Makefile
Makefile.in
ans.run
gen.dSYM/
kyua.log
named.memstats
named.run
timestamp
/compile_commands.json
/cppcheck_html/
/cppcheck.results
/tsan
/util/check-make-install
/INSTALL
doc/man/dnssec-cds.8in
doc/man/dnssec-checkds.8in
doc/man/dnssec-coverage.8in
doc/man/dnssec-dsfromkey.8in
doc/man/dnssec-importkey.8in
doc/man/dnssec-keyfromlabel.8in
doc/man/dnssec-keygen.8in
doc/man/dnssec-keymgr.8in
doc/man/dnssec-revoke.8in
doc/man/dnssec-settime.8in
doc/man/dnssec-signzone.8in
doc/man/dnssec-verify.8in
doc/man/named-checkconf.8in
doc/man/named-checkzone.8in
doc/man/named-journalprint.8in
doc/man/named-nzd2nzf.8in
doc/man/nsec3hash.8in
doc/man/pkcs11-destroy.8in
doc/man/pkcs11-keygen.8in
doc/man/pkcs11-list.8in
doc/man/pkcs11-tokens.8in
